@charset "UTF-8";
@import "../../base/variable";
@import "../../base/mixin";

.prototypes {
    .common_layout_title {
        display: flex;
        gap: to_vw(8);

        span {
            @include fontSize(10);
        }

        h6 {
            @include fontSize(12);
        }
    }

    .common_layout_detail {
        .img_wrap {
            width: to_vw(240);
            border: to_vw(1) solid $gray-100;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}