<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/works/personal/scroll/history/style.min.css">
    <title>Works | HappyCodeHouse</title>
</head>
<body>
<div id="wrap" class="wrap sticky_exist">
    <!-- Header -->
    <header id="header" class="include_header"></header>
    <!-- //Header -->

    <!-- Container -->
    <div id="container" class="container">
        <section class="sec_intro">
            <div class="title_wrap">
                <h3>History</h3>
            </div>
            <div class="bg_wrap">
                <div class="bg"></div>
            </div>
        </section>
        <section class="sec_history">
            <div id="timelineWrap" class="timeline_wrap">
                <div class="scroll">
                    <ul class="timeline">
                        <li>
                            <a href="javascript:void(0);">
                                <span>1979 - 1991</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span>2006 - 1995</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span>2015 - 2007</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span>현재 - 2016</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row_wrap">
                <div class="row">
                    <div class="col-5 offset-1">
                        <div class="history_title_area sticky">
                            <div class="history_title">
                                <span>1979 - 1991</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="history_detail_area">
                            <ul class="history_detail">
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1979</em>
                                    </div>
                                    <div>
                                        <div class="txt_wrap">
                                            <p>George Lucas recruited Ed Catmull from NYIT to lead Lucasfilm's Computer Division, aiming to develop advanced computer technology for the film industry.</p>
                                            <p>Alvy Ray Smith joined as Director of Computer Graphics Research.</p>
                                            <p>Their goals included creating digital editing systems, a laser film printer, and exploring computer graphics.</p>
                                        </div>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1979.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>
                                            1982 - <br>
                                            1983
                                        </em>
                                    </div>
                                    <div>
                                        <div class="txt_wrap">
                                            <p>Lucasfilm's Computer Division completed the "Genesis Effect" sequence for "Star Trek II: The Wrath of Khan," the first fully computer-animated sequence in a feature film.</p>
                                            <p>The Graphics Group also created their first film-resolution image, "The Road to Point Reyes," and animator John Lasseter was invited to freelance with them.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>
                                            1984 - <br>
                                            1985
                                        </em>
                                    </div>
                                    <div>
                                        <p>
                                            Lasseter is hired full-time, joining the Computer Division as an “Interface Designer.”
                                            <br>
                                            They premiered a partially completed version of "The Adventures of André & Wally B." at SIGGRAPH,
                                            showcasing flexible characters, textures, and motion blur, marking a milestone in computer animation.
                                            <br>
                                            The Computer Division also presented its prototype Pixar Image Computer at SIGGRAPH and completed the Stained Glass Knight sequence for the film "Young Sherlock Holmes."
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1986</em>
                                    </div>
                                    <div>
                                        <p>
                                            Steve Jobs bought the Computer Division from George Lucas and turned it into an independent company called "Pixar."
                                            <br>
                                            Pixar and Disney started working together on CAPS (Computer Animation Production System), which would change how traditional animated movies were made.
                                            <br>
                                            John Lasseter's short film "Luxo Jr." was finished and shown at SIGGRAPH in August, then in theaters in Los Angeles in November.
                                        </p>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1986.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>
                                            1987 - <br>
                                            1988
                                        </em>
                                    </div>
                                    <div>
                                        <p>
                                            "Red's Dream" premiered at SIGGRAPH, with parts rendered on the Pixar Image Computer.
                                            <br>
                                            Pixar's animation system (Marionette/Menv) and renderer (RenderMan®) were internally released.
                                            <br>
                                            "Tin Toy," created with these systems, won the Academy Award® for Best Short Film (Animated), a first for computer animation.
                                        </p>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1988.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1989</em>
                                    </div>
                                    <div>
                                        <p>
                                            "Knick Knack," their first stereoscopic 3D animation. <br>
                                            The first commercial version of RenderMan® is released. <br>
                                            Pixar starts making commercials, including a Tropicana ad directed by John Lasseter.<br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2024</em>
                                    </div>
                                    <div>
                                        <span>"인사이드 아웃 2", 역대 최고 수익 애니 등극</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2024.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2020</em>
                                    </div>
                                    <div>
                                        <span>"소울", 디즈니+ 공개</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2020.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2017</em>
                                    </div>
                                    <div>
                                        <span>"코코", 멕시코 역대 최고 흥행</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2017.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2016</em>
                                    </div>
                                    <div>
                                        <span>상하이 디즈니 리조트 개장</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2016.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_history">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-5 offset-1">
                        <div class="history_title_area sticky">
                            <div class="history_title">
                                <h3>2015 - 2007</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="history_detail_area">
                            <ul class="history_detail">
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2015</em>
                                    </div>
                                    <div>
                                        <span>"인사이드 아웃", 칸 영화제 초연 성공</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2015.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2012</em>
                                    </div>
                                    <div>
                                        <span>"브레이브" 개봉, 멘브 -> 프레스토 시스템 변경</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2012.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2011</em>
                                    </div>
                                    <div>
                                        <span>"카 2" 개봉, 픽사 25주년</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2011.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2010</em>
                                    </div>
                                    <div>
                                        <span>"토이 스토리 3" 개봉, 프랜차이즈 성공</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2010.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_history">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-5 offset-1">
                        <div class="history_title_area sticky">
                            <div class="history_title">
                                <h3>2006 - 1995</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="history_detail_area">
                            <ul class="history_detail">
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2006</em>
                                    </div>
                                    <div>
                                        <span>디즈니, 픽사 인수 발표</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2006.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>2001</em>
                                    </div>
                                    <div>
                                        <span>"몬스터 주식회사" 개봉</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_2001.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1998</em>
                                    </div>
                                    <div>
                                        <span>"벅스 라이프" 개봉, 에머리빌 스튜디오 작업 시작</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1998.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1996</em>
                                    </div>
                                    <div>
                                        <span>"토이 스토리", 아카데미 후보</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1996.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1995</em>
                                    </div>
                                    <div>
                                        <span>"토이 스토리" 개봉, 최고 수익</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1995.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_history">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-5 offset-1">
                        <div class="history_title_area sticky">
                            <div class="history_title">
                                <h3>Present - 2016</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="history_detail_area">
                            <ul class="history_detail">
                                <li>
                                    <i class="line"></i>
                                    <div class="dot">
                                        <em>1991</em>
                                    </div>
                                    <div>
                                        <span>픽사-디즈니 협약, "토이 스토리" 시작</span>
                                        <div class="img_wrap">
                                            <img src="/resources/images/works/personal/pixar/img_1991.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //Container -->

    <!-- Footer -->
    <footer id="footer" class="include_footer"></footer>
    <!-- //Footer -->
</div>
<script src="/resources/js/include.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/common.js"></script>
</body>
</html>