<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/prototypes/visual/01/style.css">
    <title></title>
</head>
<body>

<div class="container prototypes visual ver01">
    <div class="sec_visual">
        <div class="sticky">
            <div class="inner">
                <div class="txt_wrap">
                    <span>Speed of Cloud Movement</span>
                    <p>
                        Clouds are influenced by the wind, <br>
                        which means their speed varies depending on the wind's strength and direction. <br>
                        Sometimes they move quickly, while at other times they drift slowly. <br>
                        The cold wind that accompanies the clouds can bring us showers.
                    </p>
                </div>
                <div class="bg_wrap">
                    <div class="bg"></div>
                    <div class="dim"></div>
                </div>
                <div class="source_info">
                    <span>Image source: Unsplash.com</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resources/js/include.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/common.js"></script>
<script>
    const $secVisual = $(".sec_visual");
    const $secVisualTxtWrap = $secVisual.find(".txt_wrap");
    const $secVisualTxt = [$secVisualTxtWrap.find("span"), $secVisualTxtWrap.find("p")];
    const $secVisualBgWrap = $secVisual.find(".bg_wrap");
    const $secVisualBg = $secVisualBgWrap.find(".bg");
    const $secVisualDim = $secVisualBgWrap.find(".dim");
    const $sourceInfo = $secVisual.find(".source_info");

    const commonAnimationProps = {
        duration: 0.5,
        ease: "none"
    };

    let secVisualTl = gsap.timeline({
        scrollTrigger: {
            trigger: $secVisual,
            start: "top top",
            end: "bottom bottom",
            scrub: 1,
            invalidateOnRefresh: true,
            markers: false
        }
    });

    secVisualTl
        .to($secVisualTxtWrap, { top: "50%", y: "-50%", ...commonAnimationProps })
        .to($sourceInfo, { color: "#FFFFFF", ...commonAnimationProps }, 0)
        .to($secVisualTxt, { color: "#FFFFFF", ...commonAnimationProps }, 0)
        .to($secVisualBgWrap, { "--clip": "0% 0% 0% 0%", ...commonAnimationProps }, 0)
        .to($secVisualBg, { y: 0, ...commonAnimationProps }, 0)
        .to($secVisualDim, { alpha: 1, ...commonAnimationProps });
</script>
</body>
</html>