<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/resources/css/style.css">
  <title></title>
</head>
<body>

<div class="container">
  <div class="sec_visual ver01">
    <div class="sticky">
      <div class="inner">
        <div class="txt_wrap">
          <span></span>
        </div>
        <div class="bg_wrap">
          <div class="bg"></div>
        </div>
        <div class="source_info">
          <span>Image source: @seongryul on Instagram</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sec sec01"></div>
</div>
<script src="/resources/js/include.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script>
  let secVisualTl;
  secVisualTl = gsap.timeline({
      scrollTrigger: {
          trigger: $(".sec_visual"),
          start: "top top",
          end: "bottom bottom",
          scrub: true,
          markers: true
      }
  });
</script>
</body>
</html>