<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title></title>
</head>
<body>
<div class="container">
    <div class="sec_visual ver02">
        <div class="sticky">
            <div class="desc_area">
                <div class="row_wrap"></div>
            </div>
            <div class="bg_area"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer data-include-path="/views/layout/footer.html"></footer>
    <!-- //Footer -->
</div>



<script src="/resources/js/include.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/common.js"></script>
<script>

</script>
</body>
</html>