<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/about/style.min.css">
    <title>About | HappyCodeHouse</title>
</head>
<body>
    <div id="wrap" class="about">
        <!-- Header -->
        <header id="header" class="include_header"></header>
        <!-- //Header -->

        <!-- Content -->
        <div id="container" class="container"></div>
        <!-- //Content -->

        <!-- Footer -->
        <footer id="footer" class="include_footer"></footer>
        <!-- //Footer -->
    </div>
    <script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
    <script src="/resources/js/libraries/gsap.js"></script>
    <script src="/resources/js/libraries/ScrollTrigger.js"></script>
    <script src="/resources/js/libraries/lenis.min.js"></script>
    <script src="/resources/js/libraries/ScrollToPlugin.js"></script>
    <script src="/resources/js/libraries/swiper4.5.1.js"></script>
    <script src="/resources/js/libraries/uikit.min.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/include.js"></script>
</body>
</html>