<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/about/style.min.css">
    <title>About | HappyCodeHouse</title>
</head>
<body>
    <div id="container" class="container about">
        <!-- Header -->
        <header id="header" data-include-path="/views/layout/header.html"></header>
        <!-- //Header -->

        <!-- Content -->
        <div id="content" class="content">

        </div>
        <!-- //Content -->

        <!-- Footer -->
<!--        <footer data-include-path=/views/layout/footer.html"></footer>-->
        <!-- //Footer -->
    </div>
    <script src="/resources/js/include.js"></script>
    <script src="/resources/js/libraries/gsap.js"></script>
    <script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
    <script src="/resources/js/libraries/lenis.min.js"></script>
    <script src="/resources/js/libraries/ScrollToPlugin.js"></script>
    <script src="/resources/js/libraries/ScrollTrigger.js"></script>
    <script src="/resources/js/libraries/swiper4.5.1.js"></script>
    <script src="/resources/js/common.js"></script>

    <script>
        loadHeader().then(() => {
            // 헤더가 성공적으로 로드된 후 common.js 초기화 호출
            console.log('헤더가 성공적으로 로드되었습니다. 2');
            door.utils.gnbSpot(1);

        }).catch((error) => {
            console.error('헤더 로드 중 오류 발생:', error);
        });

    </script>
</body>
</html>