@charset "UTF-8";
@import "../../../../../base/variable";
@import "../../../../../base/mixin";

$historyColor-100: #594031;
$historyColor-200: #BFAC95;

.timeline_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: $white;
    border-bottom: to_vw(2) solid $gray-50;

    &.fixed {
        position: fixed;
    }

    .scroll {
        overflow-y: hidden;
        overflow-x: auto;
        height: 100%;
    }
}

.timeline {
    display: flex;
    width: fit-content;
    max-width: 1536px;
    margin: 0 auto;
    white-space: nowrap;

    li {
        width: auto;
        padding: 0 to_vw(80);

        &.active {
            span {
                color: $historyColor-100;
                opacity: 1;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: to_vw(72);
        }

        span {
            @include fontSize(18);
            font-weight: 700;
            color: $black;
            opacity: 0.5;
        }
    }
}

.sec_intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    .title_wrap {
        position: relative;
        z-index: 1;

        h3 {
            @include fontSize(22);
            font-weight: 700;
            color: $white;
        }
    }

    .bg_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .bg {
            width: 100%;
            height: 100%;
            @include background("works/personal/pixar/intro_bg02.jpg", center, no-repeat, cover);
        }
    }
}

.sec_history {
    position: relative;

    .history_title_area {
        &.sticky {
            height: fit-content;
            padding: to_vw(160) 0;
        }

        h3 {
            @include fontSize(48);
            font-weight: 700;
            color: $black;
        }
    }

    .history_detail_area {
        padding: to_vw(160) 0;
    }

    .history_detail {
        display: flex;
        flex-direction: column;
        gap: to_vw(120);

        li {
            display: flex;
            gap: to_vw(24);

            .line {}

            .dot {
                position: relative;
            }

            em {
                display: block;
                @include wordBreak;
                @include fontSize(14, 21);
                font-weight: 700;
                color: $black;
            }

            .txt_wrap {
                p {
                    max-width: 80%;
                    @include wordBreak;
                    @include fontSize(14, 21);
                    font-weight: 500;
                    color: $black;

                    & + p {
                        margin-top: to_vw(16);
                    }
                }
            }

            .img_wrap {
                margin-top: to_vw(12);
                width: 48%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}