<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/works/style.min.css">
    <title>Works | HappyCodeHouse</title>
</head>
<body>
<div id="container" class="container about">
    <!-- Header -->
    <header id="header" class="include_header"></header>
    <!-- //Header -->

    <!-- Content -->
    <div id="content" class="content">
        <section class="sec sec_intro">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h2>WORKS</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec sec_motion_archive">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="sub_title">
                            <span>Personal</span>
                            <span>Motion Archive</span>
                        </div>
                        <ul class="list_wrap">
                            <li>
                                <div class="thumbnail_box">
                                    <img src="/resources/images/works/personal/visual-ver-01.png" alt="">
                                </div>
                                <div class="info_box">
                                    <strong>background expanding motion</strong>
                                    <div class="btn_wrap">
                                        <a href="" class="btn">
                                            <span>PC</span>
                                        </a>
                                        <a href="" class="btn">
                                            <span>MO</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //Content -->

    <!-- Footer -->
    <footer id="footer" class="include_footer"></footer>
    <!-- //Footer -->
</div>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/libraries/uikit.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/include.js"></script>
</body>
</html>