<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/pages/works/style.min.css">
    <title>Works | HappyCodeHouse</title>
</head>
<body>
<div id="wrap" class="works">
    <!-- Header -->
    <header id="header" class="include_header"></header>
    <!-- //Header -->

    <!-- Content -->
    <div id="container" class="container">
        <section class="sec sec_intro_title">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h2>WORKS</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_works_accordion">
            <div class="row_wrap">
                <div class="row">
                    <div class="col-10 offset-1">
                        <ul class="works_accordion">
                            <li>
                                <div class="title_box">
                                    <a href="javascript:void(0);">
                                        <span>Commercial</span>
                                        <i></i>
                                    </a>
                                </div>
                                <div class="contents_box">
                                    <ul class="prj_list">
                                        <li>
                                            <div class="item">
                                                <div class="bg_area samyang"></div>
                                                <div class="desc_area">
                                                    <span class="title">Samyang Group Website Revamp</span>
                                                    <div class="btn_wrap">
                                                        <a href="" class="btn"></a>
                                                        <a href="" class="btn"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="bg_area hanatour"></div>
                                                <div class="desc_area">
                                                    <span class="title">Hanatour Corporate PR Site Construction</span>
                                                    <div class="btn_wrap">
                                                        <a href="" class="btn"></a>
                                                        <a href="" class="btn"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="bg_area samickthk"></div>
                                                <div class="desc_area">
                                                    <span class="title">SamikTHK Integrated Site Revamp</span>
                                                    <div class="btn_wrap">
                                                        <a href="" class="btn"></a>
                                                        <a href="" class="btn"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="bg_area gselevator"></div>
                                                <div class="desc_area">
                                                    <span class="title">GS Elevator Site Renewal</span>
                                                </div>
                                                <div class="btn_wrap">
                                                    <a href="" class="btn"></a>
                                                    <a href="" class="btn"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title_box">
                                    <a href="javascript:void(0);">
                                        <span>Personal</span>
                                        <i></i>
                                    </a>
                                </div>
                                <div class="contents_box">
                                    <div class="content">

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //Content -->

    <!-- Footer -->
    <footer id="footer" class="include_footer"></footer>
    <!-- //Footer -->
</div>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/libraries/uikit.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/include.js"></script>
<script>
    const $worksAccordion = $(".works_accordion");
    const $titleBox = $worksAccordion.find(".title_box");

    $titleBox.on("click", function () {
        let _$this = $(this);
        let _$thisParent = $(this).parent("li");

        if (!_$thisParent.hasClass("active")) {
            _$thisParent.addClass("active");
        } else {
            _$thisParent.removeClass("active");
        }
    });
</script>
</body>
</html>