html {
  --window-w: 100vw;
  --window-h: 100vh;
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;

  @include media(false, tablet) {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

.sticky {
  position: sticky;
  top: to_vw(-1);
  left: 0;
  width: 100%;
  height: calc(100vh + to_vw(2));
  overflow: hidden;
}
