#footer {
    background-color: $black;


    .top_area {
        padding: to_vw(48) to_vw(12);
        margin-bottom: to_vw(24);
        border-bottom: to_vw(4) dotted $gray-50;
        text-align: right;

        a {
            font-family: $LexendGiga;
            @include fontSize(14);
            font-weight: 700;
            color: $gray-100;
        }
    }

    .bottom_area {
        padding: to_vw(24) 0 to_vw(36);
    }

    .slogan {
        p {
            font-family: $LexendGiga;
            @include fontSize(162);
            line-height: 0.9;
            letter-spacing: -0.1em;
            font-weight: 900;
            color: $gray-50;
        }
    }
}