#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    transition: top 0.5s;

    &.hide {
        top: -100%;
    }

    &.show {
        border-bottom: to_vw(1) solid $lineColor-100;
    }

    .header_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: to_vw(20);
        height: to_vw(100);
        padding: 0 to_vw(80);
        background-color: transparent;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
            font-family: $LexendGiga;
            @include fontSize(16);
            font-weight: 900;
            color: $black;
        }
    }

    @include media(false, tablet) {
        .header_inner {
            height: to_vw(80);
            padding: 0 to_vw(40);
        }

        .logo {
            position: static;
            transform: unset;

            a {
                @include fontSize(14);
            }
        }
    }

    @include media(false, mobile) {
        .header_inner {
            height: to_vw(70);
            padding: 0 to_vw($spaceM-100);
        }
    }
}

#hamburger {
    position: relative;
    z-index: 9999999;
    width: to_vw(40);
    height: to_vw(18);

    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #0A0A0A;
        box-shadow: 0 0 0 2px #0A0A0A inset;
        transition: 0.25s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.on {
        span {
            &:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotate(-15deg);
            }

            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }

            &:nth-child(3) {
                bottom: unset;
                top: 50%;
                transform: translateY(-50%) rotate(15deg);
            }
        }
    }
}

#gnb {
    display: flex;
    gap: to_vw(48);

    li {
        a {
            font-family: $LexendGiga;
            @include fontSize(14);
            font-weight: 500;
            color: $black;
        }

        &.active {
            a {
                font-weight: 700;
            }
        }
    }

    .gnb_sub,
    .sitemap_only {
        display: none;
    }

    @include media(false, tablet) {
        display: none;
    }
}

#sitemap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 50%;
    height: 100vh;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;

    &.on {
        opacity: 1;
        visibility: visible;
    }

    .sitemap_inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: to_vw(96) to_vw(48);
        margin-left: auto;
    }

    .title {
        display: block;
        margin-bottom: to_vw(8);
        @include fontSize(14);
        font-weight: 700;
    }

    .gnb_title {
        @include fontSize(14);
        font-weight: 700;

        &.sitemap_only {
            display: block;
        }
    }

    .gnb_wrap {
        margin-bottom: auto;
    }

    .gnb {
        display: flex;
        gap: to_vw(96);
    }

    .gnb_sub {
        margin-top: to_vw(24);

        li {
            margin-bottom: to_vw(8);

            a {
                @include fontSize(12);
                font-weight: 500;
            }
        }
    }

    .art_board_wrap {
        .art_board {
            display: flex;
            gap: to_vw(24);

            li {
                .img_wrap {
                    width: to_vw(90);
                    height: to_vw(90);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    font-family: $Suit;
                    @include fontSize(10);
                    font-weight: 500;
                    color: $txtColor-200;
                }
            }
        }
    }

    .contact_wrap {
        .contact {
            a {
                margin-right: to_vw(12);
                @include fontSize(10);
                font-weight: 500;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include media(false, tablet) {
        width: 80%;
    }

    @include media(false, mobile) {
        width: 100%;

        .sitemap_inner {
            justify-content: flex-start;
            gap: to_vw(52);
            padding: to_vw(70) to_vw(20);
        }

        .gnb_wrap {
            margin-bottom: initial;
        }

        .gnb {
            flex-direction: column;
            gap: to_vw(24);
        }

        .gnb_sub {
            margin-top: to_vw(12);
        }
    }
}

#dim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;

    &.on {
        opacity: 1;
        visibility: visible;
    }
}