#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  //height: to_vw();

  .header_inner {
    display: flex;
    align-items: center;
  }
}

#gnb {
  display: flex;
}