@charset "UTF-8";

.main {
  .main_intro {
    .inner {
      position: relative;
      width: 100%;
      height: 100vh;
    }

    .bg_wrap {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      .mass_wrap {
        border: 1px solid red;
        .mass {
          position: absolute;
        }
      }

      .bg {
        width: 100%;
        height: 80vh;
        @include background("main/bear-motocycle.svg", 100% 100%, no-repeat, cover);
      }
    }
  }
}