@charset "UTF-8";

@import "../../base/variable";
@import "../../base/mixin";

.prototypes {
    .sec_category {
        padding-top: to_vw(100);

        h3 {
            @include fontSize(36);
            font-weight: 700;
            color: $black;
        }
    }
}