<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico">
  <link rel="stylesheet" type="" href="/resources/css/libraries/uikit/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/reset/style.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/font/style.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/layout/style.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/pages/projects/style.min.css">
  <title>Projects | HappyCodeHouse</title>
</head>
<body>
<div id="wrap" class="projects">
  <!-- Header -->
  <header id="header" class="include_header"></header>
  <!-- //Header -->

  <!--
  NEW PROJECT CHECKLIST:
  1. Create project directory with descriptive name (brand name or clear project identifier)
  2. Insert in chronological order
  3. Update Previous/Next navigation links for affected projects
  -->

  <!-- Container -->
  <div id="container" class="container">
    <section class="projects_list">
      <div class="row_wrap">
        <div class="row">
          <div class="col-12">
            <ul>
              <li>
                <a uk-toggle="target: #db-hitek" href="" title="">
                  <div class="img_area h200">
                    <img src="/resources/images/projects/dbhitek.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2025</span>
                    <h5>DB HiTek Website Renewal</h5>
                  </div>
                </a>

                <div id="db-hitek" class="uk-modal-full" uk-modal>
                  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-modal-container uk-height-viewport="offset-top: true">
                    <!-- modal header -->
                    <div class="uk-modal-header">
                      <h2 class="uk-modal-title">DB HiTek Website Renewal</h2>
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                    </div>

                    <!-- modal body -->
                    <div class="uk-modal-body">
                      <iframe src="./db-hitek/view.html" width="100%"></iframe>
                    </div>

                    <!-- modal footer -->
                    <div class="uk-modal-footer uk-text-right">
                      <div>
                        <a href="#xi-elevator" class="uk-button uk-button-primary" uk-toggle>Next</a>
                      </div>
                      <button class="uk-button uk-button-default uk-modal-close close-btn" type="button">Close</button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="vertical">
                <a uk-toggle="target: #xi-elevator" href="" title="Learn more">
                  <div class="img_area w480 order2">
                    <img src="/resources/images/projects/gs_elevator.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2025 <br> 2023</span>
                    <h5>XI Elevator Brand Transition Website</h5>
                    <h5>GS Elevator Website Renewal</h5>
                  </div>
                </a>

                <div id="xi-elevator" class="uk-modal-full" uk-modal>
                  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-modal-container uk-height-viewport="offset-top: true">
                    <!-- modal header -->
                    <div class="uk-modal-header">
                      <h2 class="uk-modal-title">
                        XI Elevator Brand Transition Website
                        <br>
                        GS Elevator Website Renewal
                      </h2>
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                    </div>

                    <!-- modal body -->
                    <div class="uk-modal-body">
                      <iframe src="./xi-elevator/view.html" width="100%" height="70vh" frameborder="0"></iframe>
                    </div>

                    <!-- modal footer -->
                    <div class="uk-modal-footer uk-text-right">
                      <div>
                        <a href="#db-hitek" class="uk-button uk-button-primary" uk-toggle>Previous</a>
                        <a href="#iframe-modal-2" class="uk-button uk-button-primary" uk-toggle>Next</a>
                      </div>
                      <button class="uk-button uk-button-default uk-modal-close close-btn" type="button">Close</button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="vertical flex_end">
                <a href="" title="">
                  <div class="img_area h320">
                    <img src="/resources/images/projects/daesang.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2025</span>
                    <h5>DAESANG Wellife Website Development</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area w900">
                    <img src="/resources/images/projects/samyang_ci.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2024</span>
                    <h5>Samyang Group CI Renewal Website</h5>
                  </div>
                </a>
              </li>

              <li class="vertical">
                <a href="" title="">
                  <div class="img_area w740">
                    <img src="/resources/images/projects/samsungsem.jpg" alt="">
                  </div>
                  <div class="txt_area flex_start">
                    <span class="year">2024</span>
                    <h5>
                      SAMSUNG ELECTRO-MECHANICS Website Operations
                      <br>
                      - Web Interface Development using AJAX/GSAP
                    </h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area w480">
                    <img src="/resources/images/projects/hanatour.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2024</span>
                    <h5>Hanatour Corporate PR Website Development</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area h480 order2">
                    <img src="/resources/images/projects/samickthk.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2024</span>
                    <h5>SamikTHK Website Redesign & Integration Project</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area ">
                    <img src="/resources/images/projects/samyang.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2023</span>
                    <h5>Samyang Specialty</h5>
                    <h5>Samyang AM BU Website Operations</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area order2">
                    <img src="/resources/images/projects/samsung.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2023</span>
                    <h5>SAMSUNG ELECTRO-MECHANICS Website Operations</h5>
                  </div>
                </a>
              </li>

              <li class="vertical flex_end">
                <a href="" title="">
                  <div class="img_area w480">
                    <img src="/resources/images/projects/government.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2022</span>
                    <h5>Korean Presidential Office Website Redesign</h5>
                    <h5>Blue House Special Page Development</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="" title="">
                  <div class="img_area w880 order2">
                    <img src="/resources/images/projects/itcen.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2022</span>
                    <h5>ITCen Group Website Renewal</h5>
                  </div>
                </a>
              </li>

              <li class="vertical flex_end">
                <a href="" title="">
                  <div class="img_area w480 order2">
                    <img src="/resources/images/projects/daedong.jpg" alt="">
                  </div>
                  <div class="txt_area">
                    <span class="year">2022</span>
                    <h5>Daedong Website Operation & Maintenance</h5>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- //Container -->

  <!-- Footer -->
  <footer id="footer" class="include_footer"></footer>
  <!-- //Footer -->
</div>
<script src="/resources/js/libraries/jquery-3.4.1.min.js"></script>
<script src="/resources/js/libraries/gsap.js"></script>
<script src="/resources/js/libraries/ScrollTrigger.js"></script>
<script src="/resources/js/libraries/lenis.min.js"></script>
<script src="/resources/js/libraries/ScrollToPlugin.js"></script>
<script src="/resources/js/libraries/swiper4.5.1.js"></script>
<script src="/resources/js/libraries/uikit.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/include.js"></script>
<script>
  $('.close-btn').on('click', function() {
    const $modal = $(this).closest('.uk-modal');
    $modal.scrollTop(0);
  });
</script>
</body>
</html>