<div class="footer_inner">
    <div class="top_area">
        <a href="mailto:happycodehouse@gmail.com">happycodehouse@gmail.com</a>
    </div>
    <div class="bottom_area">
        <div class="slogan">
            <p>
                HAPPY <br>
                CODE <br>
                HOUSE
            </p>
        </div>
    </div>
</div>
<!-- gridGuide -->
<div class="grid_guide" id="gridGuide">
    <div class="row_wrap">
        <div class="row">
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
<!-- // gridGuide -->