<div class="footer_inner">
    <div class="artwork_list_wrap">
        <!-- main resources -->
        <span>The illustrations on the main page are my own drawings.</span>
        <ul>
            <li>

            </li>
        </ul>
    </div>
</div>
<!-- gridGuide -->
<div class="grid_guide" id="gridGuide">
    <div class="row_wrap">
        <div class="row">
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
            <div class="col-1">
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
<!-- // gridGuide -->