<div class="header_inner">
    <div class="logo">
        <a href="./../../index.html">happycodehouse</a>
    </div>
    <ul id="gnb" class="gnb">
        <li>
            <a href="/views/about.html">About</a>
        </li>
        <li>
            <a href="/views/projects/projects.html">Projects</a>
        </li>
        <li>
            <a href="/views/maintenance/maintenance.html">Maintenance</a>
        </li>
        <li>
            <a href="/views/prototypes/prototypes.html">Prototypes</a>
        </li>
    </ul>
</div>