<div class="row_wrap">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="header_inner">
                <ul id="gnb" class="gnb">
                    <li data-spot="1">
                        <a class="gnb_title" href="/views/about.html">About</a>
                    </li>
                    <li data-spot="2">
                        <a class="gnb_title" href="/views/works/list.html">Works</a>
                        <ul class="gnb_sub">
                            <li>
                                <a href="/views/works/commercial/list.html">commercial</a>
                            </li>
                            <li>
                                <a href="/views/works/personal/list.html">personal</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="gnb_title sitemap_only">Contact</span>
                        <ul class="gnb_sub">
                            <li>
                                <a href="mailto:happycodehouse@gmail.com">happycodehouse@gmail.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="logo">
                    <a href="../../index.html">HappyCodeHouse</a>
                </div>
                <button type="button" id="hamburger" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="sitemap" class="sitemap">
    <div class="sitemap_inner">
        <div class="gnb_wrap"></div>
        <div class="art_board_wrap">
            <span class="title">Art Board</span>
            <ul class="art_board" uk-lightbox>
                <li>
                    <a href="/resources/images/main/bear-hug.jpg">
                        <div class="img_wrap">
                            <img src="/resources/images/main/bear-hug.jpg" alt="">
                        </div>
                        <span>hug</span>
                    </a>
                </li>
                <li>
                    <a href="/resources/images/main/bear-thinking.jpg">
                        <div class="img_wrap">
                            <img src="/resources/images/main/bear-thinking.jpg" alt="">
                        </div>
                        <span>무슨 생각 해</span>
                    </a>
                </li>
                <li>
                    <a href="/resources/images/main/bear-ice-cream.jpg">
                        <div class="img_wrap">
                            <img src="/resources/images/main/bear-ice-cream.jpg" alt="">
                        </div>
                        <span>물아일체</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="dim"></div>