<div class="header_inner">
    <div class="logo">
        <a href="../../index.html">happycodehouse</a>
    </div>
    <ul id="gnb" class="gnb">
        <li data-spot="1">
            <a href="/views/about.html">About</a>
        </li>
        <li data-spot="2">
            <a href="/views/projects/projects.html">Projects</a>
        </li>
        <li data-spot="3">
            <a href="/views/maintenance/maintenance.html">Maintenance</a>
        </li>
        <li data-spot="4">
            <a href="/views/prototypes/list.html">Prototypes</a>
        </li>
    </ul>
</div>