@media (min-width: 1025px) {
  .col-1 {
    flex: 0 0 auto;
    flex-basis: 8.3333333333%;
    width: 8.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
    position: relative;
  }
  .col-2 {
    flex: 0 0 auto;
    flex-basis: 16.6666666667%;
    width: 16.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
    position: relative;
  }
  .col-3 {
    flex: 0 0 auto;
    flex-basis: 25%;
    width: 25%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-3 {
    margin-left: 25%;
    position: relative;
  }
  .col-4 {
    flex: 0 0 auto;
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
    position: relative;
  }
  .col-5 {
    flex: 0 0 auto;
    flex-basis: 41.6666666667%;
    width: 41.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
    position: relative;
  }
  .col-6 {
    flex: 0 0 auto;
    flex-basis: 50%;
    width: 50%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-6 {
    margin-left: 50%;
    position: relative;
  }
  .col-7 {
    flex: 0 0 auto;
    flex-basis: 58.3333333333%;
    width: 58.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
    position: relative;
  }
  .col-8 {
    flex: 0 0 auto;
    flex-basis: 66.6666666667%;
    width: 66.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
    position: relative;
  }
  .col-9 {
    flex: 0 0 auto;
    flex-basis: 75%;
    width: 75%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-9 {
    margin-left: 75%;
    position: relative;
  }
  .col-10 {
    flex: 0 0 auto;
    flex-basis: 83.3333333333%;
    width: 83.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
    position: relative;
  }
  .col-11 {
    flex: 0 0 auto;
    flex-basis: 91.6666666667%;
    width: 91.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
    position: relative;
  }
  .col-12 {
    flex: 0 0 auto;
    flex-basis: 100%;
    width: 100%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-12 {
    margin-left: 100%;
    position: relative;
  }
}
.sec_visual {
  height: 200vh;
}
.sec_visual .inner {
  position: relative;
  height: 100%;
}
.sec_visual .txt_wrap {
  position: absolute;
  top: max(calc(170px * var(--base-ratio)), calc(calc(170 / var(--base-size)) * var(--base-percent)));
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  text-align: center;
}
.sec_visual .txt_wrap span {
  display: block;
  font-size: max(calc(18px * var(--base-ratio)), calc(calc(18 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: max(calc(10px * var(--base-ratio)), calc(calc(10 / var(--base-size)) * var(--base-percent)));
}
.sec_visual .txt_wrap p {
  font-size: max(calc(12px * var(--base-ratio)), calc(calc(12 / var(--base-size)) * var(--base-percent)));
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 300;
}
.sec_visual .bg_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --clip: 44% 13% 0 13%;
  clip-path: inset(var(--clip));
}
.sec_visual .bg_wrap .bg {
  width: 100%;
  height: 100%;
  background: url("/resources/images/works/personal/cloud.jpg") 100% 100% no-repeat;
  background-size: cover;
  transform: translateY(50%);
}
.sec_visual .bg_wrap .dim {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.sec_visual .source_info {
  position: absolute;
  bottom: max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent)));
  left: max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent)));
}
.sec_visual .source_info span {
  font-size: max(calc(12px * var(--base-ratio)), calc(calc(12 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
}
@media (max-width: 1024px) {
  .sec_visual {
    height: auto;
  }
  .sec_visual .sticky {
    height: auto;
  }
  .sec_visual .inner {
    padding-top: max(calc(130px * var(--base-ratio)), calc(calc(130 / var(--base-size)) * var(--base-percent)));
  }
  .sec_visual .txt_wrap {
    position: fixed;
    top: max(calc(130px * var(--base-ratio)), calc(calc(130 / var(--base-size)) * var(--base-percent)));
    width: 100%;
  }
  .sec_visual .bg_wrap {
    position: relative;
    height: max(calc(440px * var(--base-ratio)), calc(calc(440 / var(--base-size)) * var(--base-percent)));
    margin-top: max(calc(90px * var(--base-ratio)), calc(calc(90 / var(--base-size)) * var(--base-percent)));
    padding-top: max(calc(30px * var(--base-ratio)), calc(calc(30 / var(--base-size)) * var(--base-percent)));
    inset: auto;
    transform: none;
    --clip: 0 20px 0 20px;
  }
  .sec_visual .bg_wrap .bg {
    padding-top: max(calc(130px * var(--base-ratio)), calc(calc(130 / var(--base-size)) * var(--base-percent)));
    background: url("/resources/images/works/personal/cloud_m.jpg") center no-repeat;
    background-size: cover;
    transform: translateY(0);
  }
}
