@media (min-width: 1025px) {
  .col-1 {
    flex: 0 0 auto;
    flex-basis: 8.3333333333%;
    width: 8.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
    position: relative;
  }
  .col-2 {
    flex: 0 0 auto;
    flex-basis: 16.6666666667%;
    width: 16.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
    position: relative;
  }
  .col-3 {
    flex: 0 0 auto;
    flex-basis: 25%;
    width: 25%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-3 {
    margin-left: 25%;
    position: relative;
  }
  .col-4 {
    flex: 0 0 auto;
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
    position: relative;
  }
  .col-5 {
    flex: 0 0 auto;
    flex-basis: 41.6666666667%;
    width: 41.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
    position: relative;
  }
  .col-6 {
    flex: 0 0 auto;
    flex-basis: 50%;
    width: 50%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-6 {
    margin-left: 50%;
    position: relative;
  }
  .col-7 {
    flex: 0 0 auto;
    flex-basis: 58.3333333333%;
    width: 58.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
    position: relative;
  }
  .col-8 {
    flex: 0 0 auto;
    flex-basis: 66.6666666667%;
    width: 66.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
    position: relative;
  }
  .col-9 {
    flex: 0 0 auto;
    flex-basis: 75%;
    width: 75%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-9 {
    margin-left: 75%;
    position: relative;
  }
  .col-10 {
    flex: 0 0 auto;
    flex-basis: 83.3333333333%;
    width: 83.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
    position: relative;
  }
  .col-11 {
    flex: 0 0 auto;
    flex-basis: 91.6666666667%;
    width: 91.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
    position: relative;
  }
  .col-12 {
    flex: 0 0 auto;
    flex-basis: 100%;
    width: 100%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-12 {
    margin-left: 100%;
    position: relative;
  }
}
.timeline_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: max(calc(2px * var(--base-ratio)), calc(calc(2 / var(--base-size)) * var(--base-percent))) solid #E8E8E8;
}
.timeline_wrap.fixed {
  position: fixed;
}
.timeline_wrap .scroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
}

.timeline {
  display: flex;
  width: fit-content;
  max-width: 1536px;
  margin: 0 auto;
  white-space: nowrap;
}
.timeline li {
  width: auto;
  padding: 0 max(calc(80px * var(--base-ratio)), calc(calc(80 / var(--base-size)) * var(--base-percent)));
}
.timeline li.active span {
  color: #594031;
  opacity: 1;
}
.timeline li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max(calc(72px * var(--base-ratio)), calc(calc(72 / var(--base-size)) * var(--base-percent)));
}
.timeline li span {
  font-size: max(calc(18px * var(--base-ratio)), calc(calc(18 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #0A0A0A;
  opacity: 0.5;
}

.sec_intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.sec_intro .title_wrap {
  position: relative;
  z-index: 1;
}
.sec_intro .title_wrap h3 {
  font-size: max(calc(22px * var(--base-ratio)), calc(calc(22 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #FFFFFF;
}
.sec_intro .bg_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec_intro .bg_wrap .bg {
  width: 100%;
  height: 100%;
  background: url("/resources/images/works/personal/pixar/intro_bg02.jpg") center no-repeat;
  background-size: cover;
}

.sec_history {
  position: relative;
}
.sec_history .history_title_area.sticky {
  height: fit-content;
  padding: max(calc(160px * var(--base-ratio)), calc(calc(160 / var(--base-size)) * var(--base-percent))) 0;
}
.sec_history .history_title_area h3 {
  font-size: max(calc(48px * var(--base-ratio)), calc(calc(48 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #0A0A0A;
}
.sec_history .history_detail_area {
  padding: max(calc(160px * var(--base-ratio)), calc(calc(160 / var(--base-size)) * var(--base-percent))) 0;
}
.sec_history .history_detail {
  display: flex;
  flex-direction: column;
  gap: max(calc(88px * var(--base-ratio)), calc(calc(88 / var(--base-size)) * var(--base-percent)));
}
.sec_history .history_detail li {
  display: flex;
  gap: max(calc(24px * var(--base-ratio)), calc(calc(24 / var(--base-size)) * var(--base-percent)));
}
.sec_history .history_detail li .dot {
  position: relative;
}
.sec_history .history_detail li em {
  display: block;
  word-break: keep-all;
  word-wrap: break-word;
  font-size: max(calc(14px * var(--base-ratio)), calc(calc(14 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #0A0A0A;
}
.sec_history .history_detail li span {
  font-size: max(calc(14px * var(--base-ratio)), calc(calc(14 / var(--base-size)) * var(--base-percent)));
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #0A0A0A;
}
.sec_history .history_detail li .img_wrap {
  margin-top: max(calc(12px * var(--base-ratio)), calc(calc(12 / var(--base-size)) * var(--base-percent)));
  width: 48%;
}
.sec_history .history_detail li .img_wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
