@charset "UTF-8";
@import "../../base/variable";
@import "../../base/mixin";

#wrap {
  &.projects {
    padding-top: to_vw(100);

    section {
      &.projects_list {
        padding-bottom: to_vw(180);

        ul {
          display: flex;
          flex-direction: column;
          gap: to_vw(280);
        }

        li {
          position: relative;

          &.vertical {
            a {
              flex-direction: column;

              .txt_area {
                width: 100%;

                h5 {
                  text-align: right;
                }
              }
            }
          }

          &.flex_end {
            a {
              margin-left: auto;
            }
          }

          > *:not(.floating_box, .uk-modal-full) {
            display: flex;
            gap: to_vw(8);
            width: fit-content;

            @include media(tablet, false, $and: "pointer: fine") {
              &:hover {
                .img_area {
                  &::before {
                    width: 100%;
                  }
                }
              }
            }

            .img_area {
              position: relative;

              &.order2 {
                order: 2;
              }

              &.w240 {
                width: to_vw(240);
              }

              &.w320 {
                width: to_vw(320);
              }

              &.w480 {
                width: to_vw(480);
              }

              &.w620 {
                width: to_vw(620);
              }

              &.w740 {
                width: to_vw(740);
              }

              &.w880 {
                width: to_vw(880);
              }

              &.w900 {
                width: to_vw(900);
              }

              &.h200 {
                height: to_vw(200);
              }

              &.h320 {
                height: to_vw(320);
              }

              &.h480 {
                height: to_vw(480);
              }

              &.h520 {
                height: to_vw(520);
              }

              &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);
                transition: width .3s ease-out;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .txt_area {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              width: fit-content;

              &.flex_start {
                justify-content: flex-start;
              }

              .year {
                @include fontSize(12, 18);
                color: #AAAAAA;
              }

              h5 {
                @include wordBreak;
                @include fontSize(14, 21);
              }
            }
          }
        }

        .floating_box {
          display: none;
        }

        @include media(false, tablet) {

        }

        @include media(false, mobile) {
          li {
            a {
              .img_area {
                &.w240, &.w320, &.w480, &.w620, &.w740, &.w880, &.w900 {
                  width: 100%;
                }

                &.h200, &.h320, &.h480, &.h520 {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* projects - projects detail  */
.projects_detail_wrap {
  height: 100%;

  .content {
    position: relative;
    height: 100%;

    &.kor .content_inner.kor,
    &.eng .content_inner.eng {
      opacity: 1;
      visibility: visible;
    }

    * {
      font-family: $Suit;
    }

    .content_inner {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s;
    }

    .select_language {
      display: flex;
      align-items: center;
      gap: to_vw(8);
      position: absolute;
      top: 0;
      right: to_vw(8);
      z-index: 22;

      button {
        @include button-style;

        &:hover,
        &.selected {
          @include button-style(inset);
        }
      }
    }

    .desc_area {
      .title {

      }

      .description {

      }
    }

    .visual_area {

    }
  }
}