@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: url('/src/main/webapp/resources/fonts/SUIT-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('/src/main/webapp/resources/fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('/src/main/webapp/resources/fonts/SUIT-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('/src/main/webapp/resources/fonts/SUIT-Bold.woff2') format('woff2');
}
