@charset "UTF-8";

// Font
$Suit: "SUIT", sans-serif;
$LexendGiga : "Lexend Giga", sans-serif;

// Color
$black: #0a0a0a;

// Base
$font-size: 0;
$fontSize-default: 16;

// Path
$fontPathCommon: "../../fonts/";
$imgPathCommon: "../../images/";

// Grid
$gridCntP: 12;
$gridCntT: 8;
$gridCntM: 4;
$gridGap: 20;
$gridMargin: 50;