@charset "UTF-8";

// Font
$Suit: "SUIT", sans-serif;
$LexendGiga : "Lexend Giga", sans-serif;

// Color
$black: #0A0A0A;
$white: #FFFFFF;

// Base
$font-size: 0;
$fontSize-default: 16;

// Path
//$fontPathCommon: "../fonts/";
//$imgPathCommon: "../images/";
 $fontPathCommon: "/door/resources/fonts/";
$imgPathCommon: "/door/resources/images/";

// Grid
$gridCntP: 12;
$gridCntT: 8;
$gridCntM: 4;
$gridGap: 20;
$gridMargin: 50;